In [1]:
import yfinance as yf
import pandas as pd
from datetime import date, timedelta

In [11]:
data = yf.download(tickers = "MSFT", period = "7d", interval = "1m")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-10-07 09:30:00-04:00,239.059998,239.059998,239.059998,239.059998,239.059998,1366366
2022-10-07 09:31:00-04:00,239.070007,239.169998,238.600006,238.630005,238.630005,180966
2022-10-07 09:33:00-04:00,238.425003,238.919998,238.369995,238.869995,238.869995,747741
2022-10-07 09:34:00-04:00,238.000000,238.125000,237.889999,238.125000,238.125000,196080
2022-10-07 09:35:00-04:00,239.309998,239.330002,239.240005,239.240005,239.240005,266111
...,...,...,...,...,...,...
2022-10-17 14:27:00-04:00,237.600006,237.769897,237.559998,237.750000,237.750000,45076
2022-10-17 14:28:00-04:00,237.750000,237.850006,237.750000,237.837006,237.837006,33837
2022-10-17 14:29:00-04:00,237.820007,237.820007,237.600006,237.720001,237.720001,31131
2022-10-17 14:30:00-04:00,237.720001,237.720001,237.590103,237.630005,237.630005,21904
2022-10-17 14:31:39-04:00,237.550003,237.550003,237.550003,237.550003,237.550003,0

In [32]:
# Specify start dates and end dates
end_date = date.today()
start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(5):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))

# Create a test csv file given a raw path string
df_1min.to_csv(r"STRING HERE")

start_date: 2022-09-18
end_date: 2022-10-17
start_date_list:
[datetime.date(2022, 9, 18), datetime.date(2022, 9, 25), datetime.date(2022, 10, 2), datetime.date(2022, 10, 9), datetime.date(2022, 10, 16)]
end_date_list:
[datetime.date(2022, 9, 24), datetime.date(2022, 10, 1), datetime.date(2022, 10, 8), datetime.date(2022, 10, 15), datetime.date(2022, 10, 17)]
===========================================================

[*********************100%***********************]  1 of 1 completed

C:\Users\farha\AppData\Local\Temp\ipykernel_12892\949023024.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\farha\AppData\Local\Temp\ipykernel_12892\949023024.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\farha\AppData\Local\Temp\ipykernel_12892\949023024.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MSFT: No data found for this date range, symbol may be delisted
Data size: 46674

C:\Users\farha\AppData\Local\Temp\ipykernel_12892\949023024.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)
C:\Users\farha\AppData\Local\Temp\ipykernel_12892\949023024.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)