In [28]:
import yfinance as yf
import pandas as pd
from datetime import date, timedelta
import datetime

In [3]:
data = yf.download(tickers = "MSFT", period = "7d", interval = "1m")
start_date = datetime.datetime(2023, 3, 8)
end_date = datetime.datetime(2023, 3, 14)
data

# ticker = "MSFT"
# df = yf.download(ticker, period="1y", interval="1h")

# df.to_csv(f"{ticker}.csv")
# df = pd.read_csv("MSFT.csv")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-03-06 09:30:00-05:00,256.424988,256.779999,255.979996,256.510498,256.510498,672284
2023-03-06 09:31:00-05:00,256.489990,256.540009,256.079987,256.144989,256.144989,107524
2023-03-06 09:32:00-05:00,256.130005,256.647095,256.040009,256.647095,256.647095,99972
2023-03-06 09:33:00-05:00,256.670013,257.329987,256.399994,257.329987,257.329987,140929
2023-03-06 09:34:00-05:00,257.362793,257.510010,257.109985,257.304993,257.304993,93795
...,...,...,...,...,...,...
2023-03-14 14:30:00-04:00,258.980011,259.170013,258.790009,259.170013,259.170013,59657
2023-03-14 14:31:00-04:00,259.170013,259.290009,259.079987,259.160095,259.160095,58755
2023-03-14 14:32:00-04:00,259.160004,259.220001,259.040009,259.109497,259.109497,68357
2023-03-14 14:33:00-04:00,259.079987,259.299988,259.019989,259.285187,259.285187,46844
2023-03-14 14:34:00-04:00,259.239990,259.239990,259.239990,259.239990,259.239990,0

In [4]:
# Specify start dates and end dates
# end_date = date.today()
# start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(1):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))
data

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/tmp.csv")

start_date: 2023-03-08 00:00:00
end_date: 2023-03-14 00:00:00
start_date_list:
[datetime.datetime(2023, 3, 8, 0, 0), datetime.datetime(2023, 3, 15, 0, 0), datetime.datetime(2023, 3, 22, 0, 0), datetime.datetime(2023, 3, 29, 0, 0), datetime.datetime(2023, 4, 5, 0, 0)]
end_date_list:
[datetime.datetime(2023, 3, 14, 0, 0), datetime.datetime(2023, 3, 21, 0, 0), datetime.datetime(2023, 3, 28, 0, 0), datetime.datetime(2023, 4, 4, 0, 0), datetime.datetime(2023, 3, 14, 0, 0)]
===========================================================

[*********************100%***********************]  1 of 1 completed
Data size: 9360

C:\Users\kayra\AppData\Local\Temp\ipykernel_28336\3840562353.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [10]:
# Specify start dates and end dates
end_date = date.today()
start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(5):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/MSFT_2023-01-13_2023-02-10.csv")

start_date: 2023-01-13
end_date: 2023-02-11
start_date_list:
[datetime.date(2023, 1, 13), datetime.date(2023, 1, 20), datetime.date(2023, 1, 27), datetime.date(2023, 2, 3), datetime.date(2023, 2, 10)]
end_date_list:
[datetime.date(2023, 1, 19), datetime.date(2023, 1, 26), datetime.date(2023, 2, 2), datetime.date(2023, 2, 9), datetime.date(2023, 2, 11)]
===========================================================

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Data size: 37422

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)
C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [ ]:
# Update Dataset

In [27]:
df = pd.read_csv("Datasets/dataset (MSFT).csv")
df_2 = pd.read_csv("Predictions/Combined Model Price Prediction.csv")

dfloc = df.loc[5446:, 'Unnamed: 0']
dfloc.reset_index(drop=True, inplace = True)
df_2["Date"] = dfloc
df_2.to_csv (r'C:\Users\kayra\OneDrive\Desktop\Stonks 2022\Stocks-Prediction\Predictions\Combined Model Price Prediction Dates.csv', index = False, header=True)

In [39]:
start_date = datetime.datetime(2023, 2, 13)
end_date = datetime.datetime(2023, 2, 15)

data = yf.download(tickers="MSFT", 
                       start=start_date.strftime("%Y-%m-%d"), 
                       end=end_date.strftime("%Y-%m-%d"), 
                       interval = "1m")

df_1min = df_1min.append(data)
df_1min.to_csv(r"Datasets/tmp.csv") 
data

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_11296\4138909008.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-13 09:30:00-05:00,267.640015,268.339996,267.187500,267.429993,267.429993,1686911
2023-02-13 09:31:00-05:00,267.429993,268.459991,267.149994,267.582001,267.582001,303844
2023-02-13 09:32:00-05:00,267.609985,269.000000,267.540009,268.779999,268.779999,380392
2023-02-13 09:33:00-05:00,268.769989,268.890015,268.010010,268.529999,268.529999,239949
2023-02-13 09:34:00-05:00,268.524994,269.535004,268.500000,269.089996,269.089996,340502
...,...,...,...,...,...,...
2023-02-14 15:55:00-05:00,272.980011,273.220001,272.839996,272.894989,272.894989,161513
2023-02-14 15:56:00-05:00,272.890015,272.945007,272.660004,272.679993,272.679993,131914
2023-02-14 15:57:00-05:00,272.670013,272.700012,272.359985,272.429993,272.429993,177605
2023-02-14 15:58:00-05:00,272.433105,272.450012,272.179993,272.315002,272.315002,245706
2023-02-14 15:59:00-05:00,272.320007,272.380005,271.920013,272.040009,272.040009,512459

In [27]:
df_real = pd.read_csv("Datasets/MSFT_2023-01-13.csv")
df_predicted = pd.read_csv("Predictions/3-13-2023 Combined Model Price Prediction.csv")

df_real = df_real[11000:]
df_dates = df_real['Date']
df_predicted['Date'] = df_dates.values
df_predicted.to_csv(r"Predictions/3-13-2023 Combined Model Price Prediction Dates.csv")

In [52]:
df_predicted = pd.read_csv("Predictions/3-13-2023 Combined Model Price Prediction Dates.csv")

open_arr = df_predicted['Open'].to_numpy()
high_arr = df_predicted['High'].to_numpy()
low_arr = df_predicted['Low'].to_numpy()
close_arr = df_predicted['Close'].to_numpy()

open_arr = open_arr[1:]
high_arr = high_arr[1:]
low_arr = low_arr[1:]
close_arr = close_arr[:-1]

index = 0
for o, c in zip(open_arr, close_arr):
    tmp = o
    open_arr[index] = close_arr[index]
    close_arr[index] = tmp
    index += 1
    
altered_df = pd.DataFrame({'Open':open_arr, 'High':high_arr, 'Low':low_arr,'Close':close_arr})
df_dates = df_predicted['Date']
df_dates = df_dates[1:]
altered_df['Date'] = df_dates.values

altered_df.to_csv(r"Predictions/3-13-2023 Altered Predictions.csv")